body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form#send-message { display: none; margin-bottom: 30px; }

section#nicknames { float: right; width: 600px; }

#nicknames h2 { display: none; }

textarea#message { width: 300px; height: 100px; }

section#messages p strong { margin-right: 5px; }

#messages{ height:300px;}
